<% title "Edit Search_log" %>

<div class="nav_links">
  <%= link_to 'View details', @search_log %> |
  <%= link_to 'Back to List', search_logs_path %>
</div>

<div class="edit_container">
  <%= render 'form' %>
</div>