<% title "Edit Hot_search" %>

<div class="nav_links">
  <%= link_to 'View details', @hot_search %> |
  <%= link_to 'Back to List', hot_searches_path %>
</div>

<div class="edit_container">
  <%= render 'form' %>
</div>