<div id="container">
  <div id="sloppy_video" style="position: absolute; top: 250px;">
	  <embed src="http://detourlab-assets.s3.amazonaws.com/videos/TheSearchOperators_0302_4_h284.mov" width=416 height=312 autoplay=true showlogo=false controller=false loop=false target="myself" pluginpage="http://www.apple.com/quicktime/" >
	</div>
	<!--<div id="nav_arrow"><img src="/images/arrow_small.png" /></div>-->
</div>