<script src="/review/1.js"></script>

<div id="container">
	
	<div id="articles" class="hidden">
		<div class="article">
			<img class="profile" src="/images/DC.jpeg" />
			<div class="item_info">
				<div class="title"><span class="source">Dutch Cowboys: </span>Google Sloppy, the yawning search</div>
				<div class="content">
					<div>(Translated form Dutch) We are almost always used to him that Google searches on our way a good process. When you search for 'weather', makes the search engine is not anything else. But get to know Sloppy Google , the search engine that yawns as you type in something. It makes a mess of your Sloppy Google search and distorts the words. Sloppy Google makes 'bike' for example, "facts".</div>
					<div>The brain behind this search engine Yuin Chien . The purpose of this search engine is that you get appreciation for Google. The gaping engine is run by three human operators. One who falls asleep, one who makes a mess of your queries and an inexperienced man. "The machine isn't perfect, it makes mistakes, and it needs rest just like everyone," Chein said. "Having a lazy Surprisingly Google Comforting to some, " The search engine seems to be quite popular, as it was yesterday in Google Trends . Not bad for a project of a student. Check out the video below from Google Sloppy.</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="article">
			<img class="profile" src="/images/TNW.jpeg" />
			<div class="item_info">
				<div class="title"><span class="source">The Next Web: </span>What if Google Search Was Lazy? </div>
				<div class="content">
					<div>Here’s an interesting idea – what if websites had personalities of their own? The Search Operators is a thought-provoking site that turns Google into a lazy staff member that can’t quite be bothered to get anything right.</div>
					<div>Enter search queries and it will yawn. Hit ‘I’m Feeling Lucky’ and you’ll be out of luck. Even the search results you do get will be not quite what you wanted.</div>
					<div>Built using HTML5 Canvas, Processing.js, Javascript, jQuery, the Google Search API and a dash of imagination, the site’s developers describe the site as "The sloppy twin of Google search. By reversing the passive roles of UI elements, we want to expand the traditional notion of user interfaces. We hope this sloppy twin helps you switch mind set from everyday web routines and open up new perspectives."</div>
					<div>You can get a taste of the site in the video below or try it yourself at search.detourlab.com.</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="article">
			<img class="profile" src="/images/avatar_cafemom.jpeg" />
			<div class="item_info">
				<div class="title"><span class="source">Cafe Mom: </span>Sloppy Google Thinks You're Lazy and Dumb</div>
				<div class="content">
					<div>I don't know about you, but Sloppy Google freaks me out. The "alternative" search engine, created by students from Pasadena's Art Center College of Design, was designed to show us what Google would be like if it was a lazy, sloppy, tired, hungover-ish person. You know that in this country, which is known for placing a super-high value on hardcore work ethic, that would just be downright unacceptable. Especially for our hardest working search engine.</div>
					<div>There really is no market for Sloppy Google. Who would want their search for "Britney Spears" to turn up results for "Britney Pears"? How about having a search bar that yawns at you? No, not cool. Infuriating is more like it.</div>
					<div>The site is supposed to be "thought-provoking," but all it makes me think is ... I want my accurate search results back! As a writer/former editor, I cannot stand misspellings or grammatical errors. Errors of any kind really. And to know I typed something in correctly, but the search engine I'm using to do my research isn't recognizing that ... AGH! Pure frustration.</div>
					<div>The other thing it makes me think is ... Is this what most bosses think of their employees? (Even on Employee Appreciation Day? Yes, that is today.) Is this site supposed to show us that since it would never be acceptable for GOOGLE to get sloppy or lazy, we better not either?</div>
					<div>I'm probably thinking way too into this. It was just a fun little experiment by some tech-savvy art students, right?</div>
					<div>The site’s developers (who call themselves The Search Operators) explained that the site is:</div>
					<div>The sloppy twin of Google search. By reversing the passive roles of UI elements, we want to expand the traditional notion of user interfaces. We hope this sloppy twin helps you switch mind set from everyday web routines and open up new perspectives.</div>
					<div>Okay, cool. But I still think they're saying, "What if Google was the one fallin' asleep at your desk at 3 p.m. on a Friday? How would that make you feel then, huh!?" It would make me want to pull my hair out. I understand, and I will get back to working very hard now.</div>
					<div>You can see a demo of the infuriating version of Google here ...</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="article">
			<img class="profile" src="/images/huffingtonpost.png" />
			<div class="item_info">
				<div class="title"><span class="source">Huffington Post: </span>Sloppy Google: What If Google Got Lazy?</div>
				<div class="content">
					<div>Google does a lot of interesting stuff, but nothing quite like "Sloppy Google."</div>
					<div>The project, which is a mash-up of html5 canvas, javascript, processing.js, jQuery, Google Search API, according to the site's about page, aims to help people reimagine how the web could work.</div>
					<div>It's also a lot of fun to see what types of results it comes up with.</div>
					<div>The modified search engine frequently misspells words, returns random results, and in generally sloppy. The "hand-drawn" interface also transforms in odd ways.</div>
					<div>The lazy google search plays on the concept of a real human being behind the machine, manually doing searches, reports TechCrunch. The "I'm Feeling Lucky" button is always out of service.</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="article">
			<img class="profile" src="/images/TIMES.jpeg" />
			<div class="item_info">
				<div class="title"><span class="source">Times News: </span>The afternoon's must-read links</div>
				<div class="content">
					<div>Alter-Ego: A grad student cooked up a far-from-perfect version of search engine giant Google, known as Google Sloppy. Apparently, many people are comforted by its imperfection.</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
			
	</div>
	
	<div style="clear:both;"></div>
	
	<div id="main" class="hidden">
	
	</div>

</div>

<% content_for :foot do %>
<%= javascript_include_tag 'sloppy' %>
<% end %>
