<%% title "Add New <%= singular_table_name.capitalize %>" %>

<div class="nav_links">
  <%%= link_to 'Back to List', <%= index_helper %>_path %>
</div>

<div class="edit_container">
  <%%= render 'form' %>
</div>